/********** BODY **********/
* {
    margin: 0px;
    padding: 0px;
}


/********** HEADER **********/
.header {
    height: 80px;
    background-color: rgb(230, 130, 60);
}
.header-title {
    float: left;
    padding: 20px 30px 20px 30px;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(80, 80, 80);
}
.header-items li {
    float: right;
    list-style: none;
    margin-right: 15px;
    padding: 25px 5px 25px 5px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 80, 80);
    cursor: pointer;
}


/********** CONTENT **********/
.content {
    height: 600px;
}
.map {
    height: 600px;
}


/********** CONTROL **********/
.control {
    height: 270px;
    background-color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 15% 15% 70%;
}
.control h2 {
    font-size: 16px;
    text-align: center;
    color: rgb(230, 230, 230);
    margin-top: 15px;
    margin-bottom: 15px; 
}
.control h3 {
    font-size: 14px;
    text-align: center;
    color: rgb(230, 230, 230);
    margin-top: 10px;
    margin-bottom: 10px; 
}

    .control-layer {
        grid-column: 1;
    }
    .control-layer ul {
        width: 80%;
        text-align: center;
        margin: auto;
      }
    .control-layer li {
        list-style: none;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .control-layer button {
        padding: 5px 10px 5px 10px;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(230, 230, 230);
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px rgb(50, 50, 50);
        background-color: rgb(0, 0, 0);
    }
    .control-layer button:hover {
        background-color: rgb(0, 0, 0, 0.0);
    }
    .control-layer button:active {
        background-color: rgb(0, 0, 0, 0.0);
        box-shadow: 0 1px rgb(50, 50, 50);
        transform: translateY(2px);
    }

        /* activated when relevant header-item is clicked */
        #layers-gtfs {display: none;}
        #layers-crash {display: none;}
        #layers-od-trips {display: none;}
        #layers-travel-times {display: none;}
        #layers-bike {display: none;}
        /* ---------------------------------------------- */

    .control-data {
        grid-column: 2;
        text-align: center;
    }
    .control-data select {
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
        background-color: rgb(0, 0, 0, 0);
        font-size: 14px;
        color: rgb(230, 230, 230);
        padding: 5px;
        border: none;
        outline: none;
        box-shadow: 0px 2px 2px 0px rgb(50, 50, 50);
    }

        /* activated when relevant header-item is clicked */
        #data-gtfs {display: none;}
        #data-crash {display: none;}
        #data-od-trips {display: none;}
        #data-travel-times {display: none;}
        #data-bike {display: none;}
        /* ---------------------------------------------- */


    .control-charts {
        grid-column: 3;
    }


        /* activated when relevant header-item is clicked */
        #chart-gtfs {display: none;}
        #chart-crash {display: none;}
        #chart-od-trips {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        #chart-travel-times {display: none;}
        #chart-bike {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        /* ---------------------------------------------- */
        #chart-od-trips-dir1 {
            grid-column: 1;
            height: 250px;
            margin: 5px;
        }
        #chart-od-trips-dir2 {
            grid-column: 2;
            height: 250px;
            margin: 5px;
        }
        #chart-bike-daily-total {
            grid-column: 1;
            height: 250px;
            margin: 5px;
        }
        #chart-bike-daily-profile {
            grid-column: 2;
            height: 250px;
            margin: 5px;
        }