<!DOCTYPE html>
<html>
    <head>
        <title>DIMCITY</title>
        <meta charset="utf-8">
        <meta name="author" content="H_T_0">
        <meta name="description" content="a web application for QLD transport data visualization.">
        <!-- Load style -->
        <link href="../static/style.css" type="text/css" rel="stylesheet"/>
        <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css" rel="stylesheet" />
        <!-- Load API -->
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://unpkg.com/deck.gl@^6.2.0/deckgl.min.js"></script>
        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!--Load data from view.py -->
        <script type="text/javascript">
            const mapbox_token = {{ mapbox_key.mapbox_token | tojson }};
            const layer_data = {{ layer_data.data | tojson }};
        </script>
    </head>
    <body>
        <!-- HEADER ELEMENT -->
        <div class="header">
            <div class="header-title">DIMCITY</div>
            <div class="header-items">
                <ul>
                    <li id="header-item-bike">Bike-Count</li>
                    <li id="header-item-traveltime">Travel-Time</li>
                    <li id="header-item-odtrip">OD-Trip</li>
                    <li id="header-item-crash">Crash</li>
                    <li id="header-item-gtfs">PT</li>
                </ul>
            </div>
        </div>

        <!-- MAP ELEMENT -->
        <div class="content">
            <div class="map" id="map"></div>
        </div>

        <!-- CONTROL ELEMENT -->
        <div class="control">

            <!-- LAYER CONTROL ELEMENT -->
            <div class=control-layer>
                <h2>LAYER CONTROL</h2>
                
                <div id="layers-gtfs"></div>
                
                <div id="layers-crash">
                    <ul>
                        <li><button id="toggle-crash-layer">Crash Frequency</button></li>
                    </ul>
                </div>

                <div id="layers-od-trips">
                    <ul>
                        <li><button id="toggle-od-trips-layer">OD Trips</button></li>
                        <li><button id="toggle-stops-layer">PT Stops</button></li>
                        <li><button id="toggle-routes-layer">PT Routes</button></li>
                    </ul>
                </div>

                <div id="layers-travel-times">
                    <ul>
                        <li><button id="toggle-travel-times-layer">Travel Time</button></li>
                    </ul>
                </div>

                <div id="layers-bike">
                    <ul>
                        <li><button id="toggle-bike-sites-layer">Count Sites</button></li>
                        <li><button id="toggle-bike-counts-layer">Bike Counts</button></li>
                    </ul>
                </div>

            </div>

            <!-- DATA CONTROL ELEMENT -->
            <div class="control-data">
                <h2>UPDATE DATA</h2>

                <div id="data-gtfs">
                    <select name="Year">
                        <option value="2001">2001</option>
                    </select>
                </div>

                <div id="data-crash">
                    <select name="Year">
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                    <select name="Month">
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                    <select name="Hour">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                    <select name="Crash Severity">
                        <option value="Fatal">Fatal</option>
                        <option value="Hospitalisation">Hospitalisation</option>
                        <option value="Medical treatment">Medical treatment</option>
                        <option value="Minor injury">Minor injury</option>
                        <option value="Property damage only">Property damage only</option>
                    </select>
                </div>

                <div id="data-od-trips">
                    <select class="data-od-trips-route" name="Route">
                        <option value="200">200</option>
                        <option value="555">555</option>
                        <option value="169">169</option>
                        <option value="222">222</option>
                        <option value="330">330</option>
                        <option value="310">310</option>
                    </select>
                    <select class="data-od-trips-year-month" name="Year-Month">
                        <option value="2019-04">2019-04</option>
                    </select>
                    <select class="data-od-trips-day-time" name="Time / Day">
                        <option value="Weekend">Weekend</option>
                        <option value="Weekday (12:00am-8:29:59am)">Weekday-Morning</option>
                        <option value="Weekday (8:30am-2:59:59pm)">Weekday-Day</option>
                        <option value="Weekday (3:00pm-6:59:59pm)">Weekday-Afternoon</option>
                        <option value="Weekday (7:00pm-11:59:59pm)">Weekday-Night</option>
                    </select>
                </div>

                <div id="data-travel-times">
                    <select name="DateTime From">
                        <option value="1/10/2019 10:00">1/10/2019 10:00</option>
                        <option value="1/10/2019 18:00">1/10/2019 18:00</option>
                    </select>
                </div>

                <div id="data-bike">
                    <select class="data-bike-year" name="Year">
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                    </select>
                    <select class="data-bike-month" name="Month">
                        <option value="January  ">January</option>
                        <option value="February ">February</option>
                        <option value="March    ">March</option>
                        <option value="April    ">April</option>
                        <option value="May      ">May</option>
                        <option value="June     ">June</option>
                    </select>
                    <select class="data-bike-day" name="Day">
                        <option value="monday">Monday</option>
                        <option value="tuesday">Tuesday</option>
                        <option value="wednesday">Wednesday</option>
                        <option value="thursday">Thursday</option>
                        <option value="friday">Friday</option>
                        <option value="saturday">Saturday</option>
                        <option value="sunday">Sunday</option>
                    </select>
                </div>

            </div>

            <!-- CHART ELEMENT -->
            <div class="control-charts">

                <div id='chart-gtfs'></div>

                <div id='chart-crash'></div>

                <div id='chart-od-trips'>
                    <div id='chart-od-trips-dir1'></div>
                    <div id='chart-od-trips-dir2'></div>
                </div>

                <div id='chart-travel-times'></div>

                <div id='chart-bike'>
                    <div id='chart-bike-daily-total'></div>
                    <div id='chart-bike-daily-profile'></div>
                </div>

            </div>

        </div>

        <!-- Load javascript -->
        <script type="text/javascript" src="../static/map.js"></script>
        <script type="text/javascript" src="../static/header_control.js"></script>
        <script type="text/javascript" src="../static/layer_control.js"></script>
        <script type="text/javascript" src="../static/data_extract.js"></script>
        <script type="text/javascript" src="../static/data_control.js"></script>
        <script type="text/javascript" src="../static/map_layer.js"></script>
        <script type="text/javascript" src="../static/charting.js"></script>
    
    </body>

</html>